header{
    background-color:bisque;
    height: 3em;
    padding: 2em;
    border-bottom:solid black 1px;
}
table{
    background-color:aliceblue
}
header,table{
    text-align: center;
}
td,th{
    border: solid 1px;
}
