header{
    background-color:bisque;
    height: 3em;
    padding: 2em;
    border-bottom:solid black 1px;
}
table{
    background-color:rgb(200, 255, 225);
    table-layout: fixed;
    width: 775px;
    height: 2em;
    text-align: center;
}
header{
    text-align: center;
}
td,th{
    border: solid 1px;
}
