header{
    background-color:bisque;
    height: 3em;
    padding: 2em;
    border-bottom:solid black 1px;
}
h2{
    background-color:rgb(200, 255, 225);
}
h3{
    background-color: rgb(150, 205, 175);
}
h1,h2,h3,h4,p{
    text-align:center;
}
